/*background color*/

body {
    margin: 0;
    background: linear-gradient(1900deg, #febd2e, #f8ebca);
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.li {
    float: right;
}

.li a {
    display: block;
    color: black;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}


/* 当鼠标悬停时把链接颜色更改为 #111（黑色） */

.li a:hover {
    background-color: #f5f3f0;
}

.active {
    background-color: #fb6c55;
}

.head {
    font-family: 'Lexend', sans-serif;
    color: white;
    width: 60%;
    height: 50%;
    font-weight: 700;
    font-size: 70px;
    padding-top: 8%;
    margin-left: 3%;
    padding-bottom: 0px;
}

.sent {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 16px;
    padding-bottom: 1%;
}