.button {
    background-color: #df7d52;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 80px;
    cursor: pointer;
}

.button4 {
    border-radius: 30px;
    font-weight: normal;
    margin-left: 6%;
}

.button4:hover {
    background-color: white;
    /* Green */
    color: rgb(216, 97, 97);
}
