.heading {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin: 50px;
}

.body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 50px;
}