.body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
    background-image: url(background.png);
    background-size: 1000px 800px;
}

.tit {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 3%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
}