.button {
    background-color: #4CAF50;
    /* 绿色 */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button4 {
    border-radius: 12px;
}

.button4:hover {
    background-color: #fafafa;
    /* Green */
    color: #4CAF50;
}