body {
    margin: 0;
    background-image: url(background.png);
    background-size: 1000px 800px;
}

.tit {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 4%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
}

.button {
    background-color: #5b7745;
    /* 绿色 */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
}

.button4 {
    border-radius: 30px;
    margin-left: 3%;
    margin-top: 5%;
}

.button4:hover {
    background-color: #fafafa;
    /* Green */
    color: rgb(216, 97, 97);
}

.buttons {
    text-align: center;
}